build/
main
clio
/clio.db
/clio.db*
_workspace/
/bak/
/tmp/
__debug_bin*
.env
node_modules/
assets/ssg/static/css/prose.compiled.css
assets/static/css/prose.compiled.css
scripts/priv/
.snapshots/
go.work*
coverage.out
coverage.html
*.test
