{{ define "cookie-banner.html" }}
{{ $analyticsActive := and (eq (index .Params "ssg.analytics.enabled") "true") (index .Params "ssg.analytics.id") }}
{{ $bannerEnabled := eq (index .Params "ssg.cookie.banner.enabled") "true" }}
{{ if or $bannerEnabled $analyticsActive }}
<div id="cookie-banner" class="cookie-banner hidden">
    <p>{{ if index .Params "ssg.cookie.banner.text" }}{{ index .Params "ssg.cookie.banner.text" }}{{ else }}This site uses cookies to improve your experience. By continuing to use this site, you accept our use of cookies.{{ end }}</p>
    <button onclick="acceptCookies()">Accept</button>
</div>
<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        document.getElementById('cookie-banner').classList.remove('hidden');
    }
    function acceptCookies() {
        localStorage.setItem('cookiesAccepted', 'true');
        document.getElementById('cookie-banner').classList.add('hidden');
    }
</script>
{{ end }}
{{ end }}
